@use "../../assets/color" as *;

%head {
  background-color: $main-color;
  border-radius: 10px 10px 10px 0;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  padding: 5px 10px;
  box-shadow: 0 2px 8px 0 rgba(20, 170, 226, 0.47058823529411764);
}

.live-video {
    > span {
    @extend %head;
    // @media (max-width: 991px) {
    //   width: 50%;
    // }
    //   @media (max-width: 768px) {
    //   width: fit-content;
    // }
  }
  p {
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 0 -2px 4px #ececec;
    text-align: center;
    color: $main-color;
    transition: 0.5s;
    &:hover {
      color: $third-color;
    }
  }
}

